<html>

<head>
  <title>Canspy Dashboard</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@1.5.20/dist/vuetify.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@1.5.20/dist/vuetify.min.js"></script>
  <script src="websocket.js"></script>



</head>

<body>
  <div id="app">
    <!--
    <v-app id="inspire">
      -->
    <v-treeview v-model="tree" :items="items" :opened="initiallyOpen" item-key="name" activatable open-on-click>
      <template v-slot:prepend="{ item, open }">
        <v-icon :color=item.color v-if="!item.icon">
          {{ open ? 'mdi-folder-open' : 'mdi-folder' }}
        </v-icon>
        <v-icon :color=item.color v-else> {{ icons[item.icon] }} </v-icon>
        {{item.title}}
      </template>
    </v-treeview>
		<!--v-row justify="center"-->
			<v-dialog dark v-model="offline_dialog_show" max-width="300px">
				<!--<v-dialog  max-width="300px"> -->
				<v-card>
					<v-card-title>Server disconnected</v-card-title>
					<v-divider></v-divider>
					<v-card-text style="height: 75px">
						<v-progress-circular
							indeterminate
							color="primary"
						></v-progress-circular>
					</v-card-text>
				</v-card>
			</v-dialog>
		<!-- v-row -->
  </template>
    <!--
      </v-app>>
    -->
  </div>
  <script>new Vue({
      el: "#app",
      //data: () => ({
      data: function () {
        return {
          offline_dialog_show: true,
          initiallyOpen: ['public'],
          icons: {
            vehicle: 'mdi-fire-truck',
            location: 'mdi-map-marker',
            module: "mdi-chip",
            gauge: 'mdi-gauge',

          },
          tree: [],
          items: [
            {
              title: '.git',
              color: 'red'
            },
            {
              title: 'node_modules',
            },
            {
              title: 'public',
              children: [
                {
                  title: 'static',
                  children: [
                    {
                      title: 'logo.png',
                      icon: 'png',
                    },
                  ],
                },
                {
                  title: 'favicon.ico',
                  icon: 'png',
                },
                {
                  title: 'index.html',
                  icon: 'html',
                },
              ],
            },
            {
              title: '.gitignore',
              icon: 'txt',
            },
            {
              title: 'babel.config.js',
              icon: 'js',
            },
            {
              title: 'package.json',
              icon: 'json',
            },
            {
              title: 'README.md',
              icon: 'md',
            },
            {
              title: 'vue.config.js',
              icon: 'js',
            },
            {
              title: 'yarn.lock',
              icon: 'txt',
            },
          ],
        }
      },
      created() {
        messenger.register(
          "app",
          this.messenger_onMessage,
          this.messenger_onWSConnect,
          this.messenger_onWSClose
        );
      },
      methods: {
        messenger_onMessage(type, data) {
          console.log("incoming message to app", type, data);
          if (type == "app_canspy_dashboardlist") {
            this.items = data;
          }
        },
        messenger_onWSConnect() {
          this.showDisconnect(false);
        },
        showDisconnect(disconnected) {
          console.log("websocket disconnect?:", disconnected);
          this.offline_dialog_show = disconnected;
        },
        messenger_onWSClose() {
          this.showDisconnect(true);
        },
      },
    });
  </script>
</body>

</html>